<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Show_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{352,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,91}}</string>
                <key>sourceSize</key>
                <string>{352,91}</string>
            </dict>
            <key>balloon_Mah.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,92},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>balloon_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>balloon_flag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,246},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>blue_Sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,314},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>but_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,442},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>challengeMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,437},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>daqiqiu .png</key>
            <dict>
                <key>frame</key>
                <string>{{356,42},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>gotoHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{205,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,77}}</string>
                <key>sourceSize</key>
                <string>{205,77}</string>
            </dict>
            <key>reStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,282},{203,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,205}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>settingPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>setting_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,437},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>show_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,91}}</string>
                <key>sourceSize</key>
                <string>{352,91}</string>
            </dict>
            <key>start_Game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{349,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,88}}</string>
                <key>sourceSize</key>
                <string>{349,88}</string>
            </dict>
            <key>x_balloon_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,132},{138,112}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{138,112}}</string>
                <key>sourceSize</key>
                <string>{188,112}</string>
            </dict>
            <key>yelloSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,246},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_DQQ.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeefb54e3c2a2af13cd6cc6c3849c41b:1/1$</string>
            <key>textureFileName</key>
            <string>Game_DQQ.png</string>
        </dict>
    </dict>
</plist>
