<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_Sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,661},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>challengeMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,755},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>gotoHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,272},{205,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,77}}</string>
                <key>sourceSize</key>
                <string>{205,77}</string>
            </dict>
            <key>jyds.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{290,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,50}}</string>
                <key>sourceSize</key>
                <string>{290,50}</string>
            </dict>
            <key>jyds_Nextround.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,464},{195,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,76}}</string>
                <key>sourceSize</key>
                <string>{195,76}</string>
            </dict>
            <key>jyds_bjframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{748,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,208}}</string>
                <key>sourceSize</key>
                <string>{748,208}</string>
            </dict>
            <key>jyds_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,84},{213,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,106}}</string>
                <key>sourceSize</key>
                <string>{213,106}</string>
            </dict>
            <key>jyds_failureBj.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,389},{466,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,93}}</string>
                <key>sourceSize</key>
                <string>{466,93}</string>
            </dict>
            <key>jyds_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{964,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,80}}</string>
                <key>sourceSize</key>
                <string>{964,80}</string>
            </dict>
            <key>jyds_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,294},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>jyds_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,294},{168,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,79}}</string>
                <key>sourceSize</key>
                <string>{168,79}</string>
            </dict>
            <key>jyds_success_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,354},{454,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,377}}</string>
                <key>sourceSize</key>
                <string>{454,377}</string>
            </dict>
            <key>jyds_success_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,294},{466,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,93}}</string>
                <key>sourceSize</key>
                <string>{466,93}</string>
            </dict>
            <key>jyds_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,810},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>reStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,192},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>settingPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,294},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>setting_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,810},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>showPrompt_jyds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{672,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,61}}</string>
                <key>sourceSize</key>
                <string>{672,61}</string>
            </dict>
            <key>start_Game.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,661},{349,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,88}}</string>
                <key>sourceSize</key>
                <string>{349,88}</string>
            </dict>
            <key>yelloSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,294},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahjong_jyds.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2260ea4d9b24666305c164420dff8dc:1/1$</string>
            <key>textureFileName</key>
            <string>mahjong_jyds.png</string>
        </dict>
    </dict>
</plist>
