<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x_but_table_qxcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{186,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,74}}</string>
                <key>sourceSize</key>
                <string>{186,74}</string>
            </dict>
            <key>xn2_ico_dyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,14},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>xn2_icon_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,14},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>xn2_icon_gh.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,14},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>xn2_title_gh.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,14},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>xn2_txt_cjgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,14},{164,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{164,44}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
            <key>xn2_txt_ghcy.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,14},{28,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,104}}</string>
                <key>sourceSize</key>
                <string>{28,108}</string>
            </dict>
            <key>xn2_txt_jrgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,14},{164,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,44}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>xn2_txt_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,142},{110,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,44}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>xn2_txt_sqlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,14},{28,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,106}}</string>
                <key>sourceSize</key>
                <string>{28,110}</string>
            </dict>
            <key>xn2_txt_xxjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,14},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>xn_but_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>xn_ico_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>xn_location_line252.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,122},{252,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,10}}</string>
                <key>sourceSize</key>
                <string>{252,10}</string>
            </dict>
            <key>xn_location_line510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,10}}</string>
                <key>sourceSize</key>
                <string>{508,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_dialog2.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5162eaa7ebb71a46274a60f657860744:1/1$</string>
            <key>textureFileName</key>
            <string>x_dialog2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
