<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>llk_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,368}}</string>
                <key>sourceSize</key>
                <string>{400,368}</string>
            </dict>
            <key>llk_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,230},{66,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,116}}</string>
                <key>sourceSize</key>
                <string>{66,116}</string>
            </dict>
            <key>llk_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,348},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>llk_j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,414},{188,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{188,112}</string>
            </dict>
            <key>llk_j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,372},{188,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{188,112}</string>
            </dict>
            <key>llk_j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{188,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{188,112}</string>
            </dict>
            <key>llk_jdms.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,486},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>llk_knms.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,486},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>llk_mjllk.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,230},{182,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,38}}</string>
                <key>sourceSize</key>
                <string>{182,38}</string>
            </dict>
            <key>llk_pums.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>llk_tis.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,116},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>llk_tmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,486},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>llk_xipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_llk.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c3315336f7ab94e1b60cc6b54d6d8a:1/1$</string>
            <key>textureFileName</key>
            <string>x_llk.png</string>
        </dict>
    </dict>
</plist>
