<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hd2_frame_25x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>hd2_ico_hby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hd2_ico_xm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{56,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hd2_ico_xmjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>hd2_txt_hby.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>hd2_txt_xm.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,78},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>rdr_ico_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,190},{54,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,60}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>rdr_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
            <key>rdr_txt_qhb.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,52},{98,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,38}}</string>
                <key>sourceSize</key>
                <string>{98,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_redrain.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ab91eaffd2105620e22a6fb38fd2fc:1/1$</string>
            <key>textureFileName</key>
            <string>x_redrain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
