<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_numskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,476},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>numdefinebase.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,342},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>x_game_numBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{472,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>x_game_numOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{261,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,63}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>x_game_szxxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,172},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>x_num_change_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,377},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>x_sprite_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,476},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>x_sprite_mjxxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sg_numDestory.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17a076e25f6581ce2f6eff318fa41fc5:1/1$</string>
            <key>textureFileName</key>
            <string>sg_numDestory.png</string>
        </dict>
    </dict>
</plist>
